body{
    background-color: #EDEAE9;
    font-family: 'Croissant One', serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Salsa', cursive;
    
}
a{
    text-decoration: none;
}
.icono_inicio1{
    display: inline-block;
}
.icono_inicio{
    height: 80px;
    width: auto;
}
nav{
    height: 80px;
}
.menu{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #8ecae6;
    width: 100%;
    height: 80px;
    
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    margin: auto;
    text-align: center;
}
#Alumnos{
    background-color: #219EBC;
    color: #FFF;
    height: 35PX;
    width: 75px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-top-left-radius: 10%; 
    border-bottom-left-radius: 10%;
}
#Alumnos:hover{
    
    cursor: pointer;
    background-color: #111;
    color: #fff;
    transition: 400ms ease-in-out;
}
#padres{
    color: #FFF;
    height: 35PX;
    width: 48px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #219EBC;
}
#padres:hover{
    cursor: pointer;
    background-color: #111;
    color: #fff;
    transition: 400ms ease-in-out;
}
#sobre_nosotros{
    color: #FFF;
    background-color: #219EBC;
    height: 35PX;
    width: 130px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-top-right-radius: 8%; 
    border-bottom-right-radius: 8%;
}
#sobre_nosotros:hover{
    cursor: pointer;
    background-color: #111;
    color: #fff;
    transition: 400ms ease-in-out;
}
h1{
    text-align: center;
}
p{
    width: 1000px;
    text-align: center;
    margin: auto;
}
main{
    display: flex;
    align-items: center;
}
.list-section{
    width: 80px;
    text-align: center;
    padding-left: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
}
.ordered_list{
    width: 80px;
}
.ordered_list-item{
    width: 80px;
}

.ordered_list{
    list-style-type:upper-roman;
}
.calendar_exams_section{
    display: grid;
    grid-template-columns: 500px 600px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    column-gap: 20px;
    
}
.calendar_exams_section-exams{
    display: inline-block;
    width: 600px;
    margin: auto;
}
.calendar{
    display: inline-block;
    width: 500px;
    
}

.table{
    border-collapse: collapse;
    width: 600px;

}
.table_item{
    text-align: center;
}
footer{
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,33%);
}
.logogob{
    height: auto;
    width: 250px;
    margin: auto;
}
.footer_info{
    display: inline-block;
    margin: auto;
}
.div_rrss{
   margin: auto;
}
.div_rrss-icon{
    height: 25px;
    width: auto;
}
a{
    width: 30px;
}